.gallery {
    width: 300;
    height: 300;
}

body {
    text-align: center;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.container
{
    text-align: center;
}

#myCarousel{
    background-color: red
}

myCarousel img{
    width:300px;
    margin-top: 35ppx;
}

.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

h1 {
    font-size: 40px;
    font-weight: 300;
    font-family: 'Russo One', sans-serif;
}